.locations_data{
    width:100%;
    max-width: 1080px;
margin:auto;
padding: 10px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
&_town{
    &_para{
        font-size: 17px;
        color:$paint-chip;
        font-family: $openSans;
        font-weight: $font-bold
    }
    &_details{
        display: flex;
        align-items: center;
        margin-top: 20px;
        &_info{
            font-size: 17px;
            color: $grey44;
            margin-top: 10px;
            margin-left: 5px;
        }
        &_number{
            font-size: 17px;
            color: $grey44;
            margin-left: 10px;
        }
    }
}
}
.fa-map-marker{
    color: $paint-chip;
margin-top: 10px;
    font-size: 35px;
}
.fa-phone{
    color: $paint-chip;
        font-size: 25px;
}