<div class="footers">
<div class="footers_details">
<div class="footers_details_img">
    <img src="../../images/SLUHN_Logo.svg" alt="sluhn-image"/>
</div>
<div class="footers_details_para">
<p class="footers_details_para_para">About</p>
<p class="footers_details_para_para">Meet the Team</p>
<p class="footers_details_para_para">Services</p>
<p class="footers_details_para_para">Locations</p>
<p class="footers_details_para_para">Gallery</p>
<p class="footers_details_para_para">Contact Us</p>
</div>
</div>
<div class="footers_footer">
    <p class="footers_footer_para">EOE</p>
    <p class="footers_footer_para">Privacy</p>
    <p class="footers_footer_para">Terms of Use</p>
    <p class="footers_footer_para">Public Notice</p>
</div>
</div>