<div class="meetteam">
<h1>The hands of surgeon.The sensitivity of a counselor.The eye of an artist.</h1>
<h1>All dedicated to helping you feel your best.</h1>
<button class="button button-primary">Meet Our Team</button>
<div class="meetteam_details1">
<div class="meetteam_details1_cards">
   <div class="meetteam_details1_cards_reconstructive">
           <h2 class="meetteam_details1_cards_reconstructive_head">Reconstructive</h2>
           <p class="meetteam_details1_cards_reconstructive_para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolores repellat earum quis? Inventore, sed minima eveniet aut ea optio obcaecati quia amet minus deleniti, reiciendis, impedit nisi numquam in..</p>
   </div>
   <div class="meetteam_details1_cards_cosmetics">
    <h2 class="meetteam_details1_cards_cosmetics_head">Cosmetics and Aesthetics</h2>
    <p class="meetteam_details1_cards_cosmetics_para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolores repellat earum quis? Inventore, sed minima eveniet aut ea optio obcaecati quia amet minus deleniti, reiciendis, impedit nisi numquam in..</p>
</div>
</div>
</div>
<div class="meetteam_details">
    <p class="meetteam_details_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Apernissimos, ea voluptate rerum recusandae harum, praesentium nostrum quos impedit? Nesciunt minus suscipit aliquam. Ex reiciendis magnam natus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eaque, quis aliquam enim impedit similique culpa fuga quibusdam a tempore vel. Ea delectus velit corrupti officia labore eveniet doloribus veniam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae ducimus sapiente accusantium pariatur delectus earum, voluptates omnis nisi. Rem reiciendis veniam recusandae rerum nostrum amet autem natus quae enim ullam?</p>
    </div>
</div>