<div class="beforeafter">
    <div class="beforeafter_heading">
        <h1 class="beforeafter_heading_head">Before & After</h1>
        <i id="beforeafter_filter_img" class="fas fa-sort-amount-down"></i>
    </div>
    <hr />
    <div class="beforeafter_card">
        <div class="beforeafter_card_first">
            <div class="beforeafter_card_first_img1">
                <img src="https://source.unsplash.com/random/200x200" />
                <img src="https://source.unsplash.com/random/200x200" />
            </div>
            <div class="beforeafter_card_first_heading">
                <h1 class="beforeafter_card_first_heading_head">Laser Resurfacing</h1>
            </div>
        </div>
        <div class="beforeafter_card_first">
            <div class="beforeafter_card_first_img1">
                <img src="https://source.unsplash.com/random/200x200" />
                <img src="https://source.unsplash.com/random/200x200" />
            </div>
            <div class="beforeafter_card_first_heading">
                <h1 class="beforeafter_card_first_heading_head">Laser Resurfacing</h1>
            </div>
        </div>
    </div>
    <div class="beforeafter_card">
        <div class="beforeafter_card_first">
            <div class="beforeafter_card_first_img1">
                <img src="https://source.unsplash.com/random/200x200" />
                <img src="https://source.unsplash.com/random/200x200" />
            </div>
            <div class="beforeafter_card_first_heading">
                <h1 class="beforeafter_card_first_heading_head">Laser Resurfacing</h1>
            </div>
        </div>
        <div class="beforeafter_card_first">
            <div class="beforeafter_card_first_img1">
                <img src="https://source.unsplash.com/random/200x200" />
                <img src="https://source.unsplash.com/random/200x200" />
            </div>
            <div class="beforeafter_card_first_heading">
                <h1 class="beforeafter_card_first_heading_head">Laser Resurfacing</h1>
            </div>
        </div>
    </div>
<div class="beforeafter_button">
<div class="beforeafter_button_heading">
<p class="beforeafter_button_heading_para">SCHEDULE YOUR</p>
<p class="beforeafter_button_heading_para">CONSULTATION</p>
</div>
<div><i class="fas fa-angle-right"></i></div>
</div>
</div>
