<div class="contact">
    <h1 class="contact_heading">Contact Us</h1>
    <hr />
    <p class="contact_para">Please provide any information that would be relevant to your interest and times available
        for us to contact you.</p>
        <form>
    <div class="contact_details">
        <div class="contact_details_name">
            
                <label class="contact_details_name_label" for="name">Your name</label>
                <br />
                <input id="name" class="contact_details_name_input" type="text" value="" />
            
        </div>
        <div class="contact_details_email">
            
                <label class="contact_details_email_label1" for="email">Email</label>
                <br />
                <input id="email" class="contact_details_email_input1" type="email" value="" />
            
        </div>
        </div>
    <div class="contact_details">
        <div class="contact_details_number">
            
                <label class="contact_details_number_label" for="number">Phone Number</label>
                <br />
                <input id="number" class="contact_details_number_input" type="tel" name="telephone" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12" title="Ten digits code" required/>
            
        </div>
        <div class="contact_details_services">
            
                <label class="contact_details_services_label1" for="services">Service of Interest</label>
            
            <div class="contact_details_services_input1">
                <div class="text" style="display: block;"></div>
                <i class="fas fa-chevron-down"></i>
                
            </div>
            
            <div class="contact_details_services_toggle">
                
               <p class="contact_details_services_toggle_para" >Face</p>
               <p class="contact_details_services_toggle_para" >Breast</p>
               <p class="contact_details_services_toggle_para" >Body</p>
               <p class="contact_details_services_toggle_para" >Non-Surgical</p>
               <p class="contact_details_services_toggle_para1" >Pediatric and Plastic Surgery</p>
            </div>
        </div>
    </div> 
    <div class="contact_additional">
        
            <label class="contact_additional_info" for="information">Additional Information</label>
            <br/>
            <textarea id="information" class="contact_additional_area"></textarea>
        
    </div> 
<button class="contact_button">Submit</button>
</form>
<br/>
<br/>
<br/>
<br/>
<hr/>
<div class="contact_form">
    <div class="contact_form_details">
       <p class="contact_form_details_head">Plastics Contact</p>
        <p class="contact_form_details_number">1-888-555-1212</p>
        <p class="contact_form_details_info"> Info @SLPlastics.org</p>
    </div>
    <div class="contact_form_details">
        <p class="contact_form_details_head1">General</p>
         <p class="contact_form_details_number">1-800-StLukes </p>
         <p class="contact_form_details_info"> infolink@sluhn.org</p>
     </div>
</div>
    </div>
    