<div class="headers">
    <div class="headers_details">
        <div class="headers_img">
            <img src="../../images/header-logo.png" alt="header-logo"/>
        </div>
        <div class="headers_icon">
            <i id="headers_user" class="fas fa-user-circle"></i>
            <i id="headers_question" class="fas fa-question"></i>
        </div>
    </div>
    <div class="headers_bottom">
    </div>
    <div class="headers_title">
        <h1>Plastic and Reconstructive Surgery</h1>
</div>
<div class="headers_toggle">
    <div class="headers_toggle_head">
        <h5 class="headers_toggle_head_para">About</h5>
        <h5  class="headers_toggle_head_para">Meet the Team</h5>
        <h5  class="headers_toggle_head_para">Services</h5>
        <h5  class="headers_toggle_head_para">Locations</h5>
    </div>
    <div class="headers_toggle_icon"><i id="five" class="fas fa-bars"></i></div>
    </div>
</div>
</div>

