<div class="header">
    <div class="header_head">
        <div class="header_head_crum">
            <i class="fas fa-bars"></i>
            <p class="header_head_crum_para">Menu</p>
        </div>
        <div class="header_head_details">
            <img src="https://mms.businesswire.com/media/20140310006084/en/406640/5/SLUHN_in_Black.jpg" />
            <div class="header_head_details_icon">
                <div>
                    <i class="fas fa-dollar-sign"></i>
                    <span>Pay a bill</span>
                </div>
                <div><i class="fas fa-gift"></i>
                    <span>Make a gift</span>
                </div>
                <div> <i class="fas fa-user-circle"></i>
                    <span>Login</span>
                </div>
                <div><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>
    <div class="header_title">
        <h1>Plastic & Reconstructive Surgery</h1>
    </div>
    <div class="header_nav">
<p class="header_nav_para">About us</p>
<p class="header_nav_paras">Services
    <div class="header_nav_paras_drop">
        <p class="header_nav_paras_drop_p1">Surgical Services</p>
        <p class="header_nav_paras_drop_p1">Cosmetic & Aesthetic Services</p>
    </div>
</p>
<p class="header_nav_paras1">Locations
    <div class="header_nav_paras1_drop1">
        <p class="header_nav_paras1_drop1_p2">Allentown</p>
        <p class="header_nav_paras1_drop1_p2">Bethlehem</p>
        <p class="header_nav_paras1_drop1_p2">Center Valley</p>
        <p class="header_nav_paras1_drop1_p2">Easton</p>
        <p class="header_nav_paras1_drop1_p2">Palmerton</p>
        <p class="header_nav_paras1_drop1_p2">Qakertown</p>
        <p class="header_nav_paras1_drop1_p2">Stroudsburg</p>
    </div>
</p>
<p class="header_nav_paras2">Gallery
    <div class="header_nav_paras2_drop2">
        <p class="header_nav_paras2_drop2_p3">Before & After</p>
        <p class="header_nav_paras2_drop2_p3">Cosmetic & Aesthetic Services</p>
    </div>
</p>
<p class="header_nav_paras">Contact Us</p>
    </div>
</div>