<div class="header_intro">
<div class="header">
    <div class="header_details"><i id="header_user" class="fas fa-user-circle"></i></div>
    <div class="header_details"><h6 class="header_create">Create Account |</h6></div>
    <div class="header_details"> <h6 class="header_create">Sign In |</h6></div>
    <div class="header_details"><i id="header_question" class="fas fa-question"></i></div>
</div>
<div class="header_bottom">
</div>
<div class="header_image">
    <img class="header_image_image1"src="../../images/SLUHN_Logo.svg"/>
    <i class="fas fa-bars" id="hamburger"></i>i
</div>
<div class="header_nav">
    <h5 class="header_nav_details">Plastic & Reconstructive Surgery </h5>
    <h5 class="header_nav_details">|</h5>
    <h5 class="header_nav_details">About</h5>
    <h5 class="header_nav_details">Meet the Team</h5>
    <h5 class="header_nav_details" id="parent">Services</h5>
    <h5 class="header_nav_details"> Gallery </h5>
    <h5 class="header_nav_details">Location</h5>
    <h5 class="header_nav_details"> Contact Us</h5>
</div>
<div class="header_nav_dropdown" >
    <h5 class="header_nav_dropdown_detail">Face</h5>
    <h5 class="header_nav_dropdown_detail">Breast</h5>
    <h5 class="header_nav_dropdown_detail">Body</h5>
    <h5 class="header_nav_dropdown_detail">Non Surgical</h5>
    <h5 class="header_nav_dropdown_detail">Pediatric Plastic Surgery</h5>
</div>
</div>
