.patitents{
    margin-top: 100px;
    width: 100%;
    &_head{
  font-family: $bodoni;
        text-align: center;
    }
    &_cards{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width:768px){
            flex-direction: column;
            align-items: center;
        }
        &_first{
            width: 20%;
            height: 250px;
            width: 250px;
            margin: 0;
            margin-top: 50px;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        &_second{
            width: 20%;
            height: 250px;
            width: 250px;
            margin: 0;
            margin-top: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
        }
        &_third{
            width: 20%;
            height: 250px;
            width: 250px;
            margin: 0;
            margin-top: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
        }
        &_fourth{
            width: 20%;
            height: 250px;
            width: 250px;
            margin: 0;
            margin-top: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
        }
    }
    &_details{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        @media (max-width:768px){
            flex-direction: column;
        }
     margin-top: 100px;
        &_first{
            width: 31%;
            @media (max-width:768px){
                width: 100%;
            }
            &_intro{
                display: flex;
                margin-top: 20px;
             
                &_para{
                    font-size: 10px;
                    width: 70%;
                    margin-left: 5px;
                  
                }
            }
            &_head{
          font-weight: $font-bold;
          font-size: 15px;
          @media (max-width:768px){
              width: 100%;
              font-size: 12px;
          }
            }
        }
        &_second{
            width: 32%;
            @media (max-width:768px){
                width: 100%;
            }
            &_intro{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                flex-direction: row;
                @media (max-width:768px){
                    flex-direction: column;
                    align-items: center;
                }
                &_img{
                    height: 100px;
                    width: 100px;
                    margin: 0;
                    }
            }
            &_head{
          font-weight: $font-bold;
          font-size: 15px;
          @media (max-width:768px){
              font-size: 12px;
              width: 100%;
          }
            }
        }
    }
}
.patitents-button{
    margin-left: 40%;
    margin-top: 50px;
    @media (max-width:768px){
        margin-left: 20%;
    }
}