<div class="abouts">
    <h1 class="abouts_heading">Jonathan S. Lam, MD</h1>
    <p class="abouts_title">Plastic Surgery</p>
    <br />
    <br />
    <h1 class="abouts_heading"> About</h1>
    <hr />
    <br />
    <br />
    <p>Bio Blurb. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna. Excepteur sint occaecat cupidatat.</p>
    <br />
    <br />
    <div class="abouts_details">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/2AHq4PySIqo" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                allowfullscreen ></iframe>
        <div class="abouts_details_video">
            
                <i id="one" class="fas fa-play"></i>
        </div>
        <div class="abouts_details_para">
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat
            lacus laoreet. Mauris vitae”</p>
        </div>
    </div>
    <br />
    <br />
    <h1 class="abouts_heading1">Experience</h1>
    <hr />
    <br />
    <h1 class="abouts_details">Medical School</h1>
    <p class="about_details_para">Boston University School of Medicine,1992</p>
    <br />
    <h1 class="abouts_details">Medical School</h1>
    <p class="about_details_para">Temple University,School of Detistry,1988</p>
    <br />
    <h1 class="abouts_details">Internship</h1>
    <p class="about_details_para">Lehigh Valley Health Network,1992-1993</p>
    <br />
    <h1 class="abouts_details">Residency</h1>
    <p class="about_details_para">Lehigh Valley Health Network,1993-1995</p>
    <br />
    <h1 class="abouts_details">Residency</h1>
    <p class="about_details_para">Lehigh Valley Health Network,1997-2000</p>
    <br />
    <h1 class="abouts_details">Residency</h1>
    <p class="about_details_para">West Virgina University Charleston Medical Center,1988-1989</p>
</div>