<div class="patitent">
<div class="patitent_heading">
<h1 class="patitent_heading_head">Patitent Stories</h1>
<i id="beforeafter_filter_img" class="fas fa-sort-amount-down"></i>
</div>
<hr/>
<div class="patitent_cards">
    <div class="patitent_cards_filter">
    <div  class="patitent_cards_filter_img"><img src="https://source.unsplash.com/random/200x200"/></div>
       <div class="patitent_cards_filter_para">
        <p class="patitent_cards_filter_para_text">- Jazmin -</p>
        <p  class="patitent_cards_filter_para_details">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, rem veritatis"</p>
       </div>
       <div class="patitent_cards_filter_outlay"></div>
    </div>
    <div class="patitent_cards_filter">
        <div  class="patitent_cards_filter_img"><img src="https://source.unsplash.com/random/200x200"/></div>
           <div class="patitent_cards_filter_para">
            <p class="patitent_cards_filter_para_text">- Cheryl -</p>
            <p  class="patitent_cards_filter_para_details">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, rem veritatis"</p>
           </div>
           <div class="patitent_cards_filter_outlay"></div>
        </div>
</div>
</div>