<div class="about">
    <h1 class="about_heading">About</h1>
    <hr>
    </hr>

    <p class="about_reviews_para">St. Lukes Plastic & Reconstructive Surgery its dedicated to helping you feel your
        best. Our staff provides a wide range of services, from aesthetics to advanced cosmetic surgery, all designed to
        help you love your face and body even more. Our goal is to deliver your desired results.</p>

    <div class="about_reviews">

        <div class="about_reviews_person">
            <div class="about_reviews_person_1 box1"></div>
            <div class="about_reviwes_person_2 box2">
                <h3>Hello</h3>
                <p>hdello333</p>
            </div>
            
        </div>
        <div class="about_reviews_person">
            <div class="about_reviews_person_1 box1"></div>
            <div class="about_reviwes_person_2 box2">
                <h3>Hello</h3>
                <p>hdello333</p>
            </div>
        </div>
        <div class="about_reviews_person">
            <div class="about_reviews_person_1 box1"></div>
            <div class="about_reviwes_person_2 box2">
                <h3>Hello</h3>
                <p>hdello333</p>
            </div>
        </div>
        <div class="about_reviews_person">
            <div class="about_reviews_person_1 box1"></div>
            <div class="about_reviwes_person_2 box2">
                <h3>Hello</h3>
                <p>hdello333</p>
            </div>
        </div>
    </div>
    <div class="about_photos">
        <p class="about_patitent">See More Patient Photos <i class="fas fa-angle-right"></i></p>
    </div>
</div>