<div class="locations">
<div >
<h1 class="locations_head">Locations</h1>
</div>
<div class="locations_filter">
    <i id="locations_filter_img" class="fas fa-sort-amount-down"></i>
    <div class="filter">
        <div class="filter_header">
    <h4 class="filter_header_head">Sort By</h4>
    <i id="filter_header_img" class="fas fa-sort-amount-down"></i>
        </div>
        <hr class="filter_hr"/>
        <div class="filter_header2">
          <h5 class="filter_header2_head">Distance</h5>
          <i id="three" class="fas fa-question"></i>
        </div>
        <hr class="filter_hr1"/>
        <div class="filter_footer">
    <h4 class="filter_footer_para">Cancel</h4>
    <p class="filter_footer_para2">|</p>
    <h4 class="filter_footer_para">Apply</h4>
        </div>
        </div>
</div>
</div>
<hr class="bottom"/>

