<div class="locations">
  <div>
    <h1 class="locations_head">Locations</h1>
  </div>
  <div class="locations_filter">
    <i id="locations_filter_img" class="fas fa-sort-amount-down"></i>
    <div class="filter">
      <div class="filter_header">
        <h4 class="filter_header_head">Sort By</h4>
        <i id="filter_header_img" class="fas fa-sort-amount-down"></i>
      </div>
      <hr class="filter_hr" />
      <div class="filter_header2">
        <h5 class="filter_header2_head">Distance</h5>
        <i id="three" class="fas fa-question"></i>
      </div>
      <hr class="filter_hr1" />
      <div class="filter_footer">
        <h4 class="filter_footer_para">Cancel</h4>
        <p class="filter_footer_para2">|</p>
        <h4 class="filter_footer_para">Apply</h4>
      </div>
    </div>

  </div>
</div>
<hr class="bottom" />

<div class="locations_data">
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        501 Cetronia Road, Suite 135 <br />
        Allentown, PA, 18104
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke’s Plastic & Reconstructive Surgery - Easton</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        1600 St. Luke’s Boulevard, Suite 100<br /> Easton, PA, 18045
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
</div>

<div class="locations_data1">
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        74 West Broad Street, Suite 170<br /> Bethlehem, PA, 18018
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke’s Plastic & Reconstructive Surgery - Stroudsburg</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        5415 Lanark Road <br />Center Valley, PA, 18034
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
</div>

<div class="locations_data1">
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke’s Plastic & Reconstructive Surgery - Center Valley</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        5415 Lanark Road<br /> Center Valley, PA, 18034
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
  <div class="locations_data_town">
    <p class="locations_data_town_para">St. Luke’s Plastic & Reconstructive Surgery-Quakertown</p>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-location-arrow"></i>
      </div>
      <div class="locations_data_town_details_info">
        1021 Park Avenue, Suite 30<br /> Quakertown, PA, 18951
      </div>
    </div>
    <div class="locations_data_town_details">
      <div>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="locations_data_town_details_number">
        484-526-1260
      </div>
    </div>
  </div>
</div>