<div class="footer">
    <div class="footer_image">
        <img class="footer_image_img" src="../../images/SLUHN_Logo.svg"/>
    </div>
    <div class="footer_details">
        <div>
        <p>About</p>
        <p>Meet the Team</p>
        <p>Services</p>
    </div>
    <div>
        <p>Location</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
    </div>
</div>
<div class="footer_footer">
    <p class="footer_footer_para1">EOE</p>
    <p class="footer_footer_para1">Privacy</p>
    <p class="footer_footer_para1">Terms of Use</p>
    <p class="footer_footer_para1">Pubilc Notice</p>
</div>