.contact{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 10px;
    &_heading{
        color:$paint-chip;
        font-size: 48px;
        font-family: $bodoni;
        font-weight: $font-normal;
        margin-top: 200px;
    }
    &_para{
        margin-top: 50px;
        font-size: 24px;
        font-family: $arimo;
        color: $black;
        font-weight: $font-semi-bold;
    }
    &_details{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        @media (max-width:768px){
            flex-direction: column;
        }
        &_name{
            margin-top: 20px;
            &_label{
                color: $cerulean-frost;
                font-size: 20px;
            }
            &_input{
                border:2px solid $grey44;
                opacity: 53%;
                border-radius: 5px;
                width: 473px;
                height: 50px;
            }
        }
        &_email{
            margin-top: 20px;
            &_label1{
                color: $cerulean-frost;
                font-size: 20px;
            }
            &_input1{
                border:2px solid $grey44;
                opacity: 53%;
                border-radius: 5px;
                width: 473px;
                height: 50px;
            }
        }
        &_number{
            margin-top: 20px;
            &_label{
                color: $cerulean-frost;
                    font-size: 20px;
            }
            &_input{
                border:2px solid $grey44;
                opacity: 53%;
                border-radius: 5px;
                width: 473px;
                height: 50px;
            }
        }
        &_services{
            margin-top: 20px;
            position: relative;
            &_label1{
                color: $paint-chip;
                    font-size: 20px;
                    font-weight: $font-semi-bold;
                    font-family: $openSans;
            }
            &_input1{
                border:2px solid $grey44;
                opacity: 53%;
                border-radius: 5px;
                width: 473px;
                height: 50px;
                display: flex;
               align-items: center;
               justify-content: flex-end;
            }
            &_toggle{
                border: 1px solid black;
                border-top: 1px solid gray;
                border-radius: 10px;
                display: none;
                position: absolute;
                top: 27px;
                background-color: white;
                width: 100%;
                z-index: 5;
                &_para{
                    color: gray;
                    border-bottom: 2px solid gray;
                    padding: 10px;
                    font-size: 15px;
                }
                &_para1{
                    color: gray;
                    padding: 10px;
                    font-size: 15px;
                }
            }
        }
    }
    &_additional{
        margin-top: 20px;
        margin-left: 40px;

        &_info{
            color:$paint-chip;
            font-weight: $font-bold;
            font-size: 20px;
        }
        &_area{
            border: 2px solid $grey44;
            opacity: 53%;
            width:980px;
            height:200px;
            border-radius: 5px;
            @media (max-width:768px){
                width: 500px;
            }
        }
    }
    &_button{
        background-color: $cerrlean-frost;
        border: none;
        color:white;
        font-size: 30px;
        opacity: 100%;
        border-radius: 5px;
        padding:10px 150px 10px 150px;
        margin-left: 30%;
        margin-top: 50px;
        @media (max-width:768px){
            margin-left:15%
        }
    }
}
.fa-chevron-down{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
